In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(
    'Data/adult.data', header=None,
    names=[
        'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 
        'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 
        'hours-per-week', 'native-country', 'income'
    ], na_values=' ?'
)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
# 处理缺失值
data = data.dropna()

# 处理异常值
data = data[data['age'] >= 18]
data = data[data['age'] <= 100]

# 处理重复值
data = data.drop_duplicates()

data.to_csv('Data/adult_train.csv', index=False)

In [5]:
df = pd.read_csv(
    'Data/adult.test', header=None,
    names=[
        'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 
        'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 
        'hours-per-week', 'native-country', 'income'
    ], na_values=' ?'
)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16282 entries, 0 to 16281
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             16282 non-null  object
 1   workclass       15318 non-null  object
 2   fnlwgt          16281 non-null  float64
 3   education       16281 non-null  object
 4   education-num   16281 non-null  float64
 5   marital-status  16281 non-null  object
 6   occupation      15315 non-null  object
 7   relationship    16281 non-null  object
 8   race            16281 non-null  object
 9   sex             16281 non-null  object
 10  capital-gain    16281 non-null  float64
 11  capital-loss    16281 non-null  float64
 12  hours-per-week  16281 non-null  float64
 13  native-country  16007 non-null  object
 14  income          16281 non-null  object
dtypes: float64(5), object(10)
memory usage: 1.9+ MB

In [7]:
print(df['age'][pd.to_numeric(df['age'], errors='coerce').isnull()].count())

1

In [8]:
df['age'] = pd.to_numeric(df['age'], errors='coerce')

In [9]:
# 处理缺失值
df = df.dropna()

# 处理异常值
df = df[df['age'] >= 18]
df = df[df['age'] <= 100]

# 处理重复值
df = df.drop_duplicates()

df.to_csv('Data/adult_test.csv', index=False)